*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Syne Mono', monospace;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: white;
}
nav{
    display: flex;
    font-size: xx-large;
}
nav img{
    width: 70%;
    text-align: left;
}
nav ul{
    display: flex;
    width: 30%;
    justify-content: space-evenly;
    font-size: x-large;
    margin-top: .5%;
}
header{
    background: url("assets/asset-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    filter: contrast(75%);
    color: white;
}
.banner{
    padding: 10%;
    font-size: x-large;
    text-align: center;
}
.banner p{
    width: 50%;
    align-items: center;
    position: relative;
    left: 25%;

}
body{
    background: #518581;
    text-align: center;
}
section{
    margin: 5%;
}
.feedback .cards{
    display: flex;
    width: 75%;
    margin: 2.5%;
    justify-content: center;
    position: relative;
    left: 10%;
}
.card{
    position: relative;
    width: 25%;
    box-shadow: 0px 5px 10px black;
    margin: 2.5%;
    padding: 2%;
    border-radius: 10px;
    height: fit-content;
}
.card img{
    width: 50%;
    border-radius: 50%;
    position: static;
}
